.loading {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading_full {
  gap: 5px;
  z-index: 3;
  display: flex;
  color: #c97909;
  font-size: 15px;
  position: absolute;
  align-items: center;
  letter-spacing: 0.05em;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(10px);

  .message {
    font-weight: bold;
  }

  .note {
    font-size: 13px;
    text-align: center;
  }
}