$primaryColor: #e0fbfc;
$primaryHover: #98c1d9;
$secondaryColor: #fcf5e0;
$primarySelected: #ececae;

:export {
  raPrimary: #1976d2;
  raPrimaryHover: #e3e2e2;

  raBlack: #000000;
  raGray100: #121212; /* Dark gray */
  raGray200: #1e1e1e; /* Very dark gray */
  raGray300: #2a2a2a; /* Darker gray */
  raGray400: #363636; /* Dark gray */
  raGray500: #424242; /* Mid gray */
  raGray600: #4f4f4f; /* Slightly lighter gray */
  raGray700: #5c5c5c; /* Mid-light gray */
  raGray800: #737373; /* Light gray */
  raGray900: #b0b0b0; /* Lighter gray */
  raGray1000: #e0e0e0; /* Very light gray */
  raGray1200: #ffffff; /* White */

  raNeonGreen: #00e676; /* A vibrant neon green */
  raGreen: #2e7d32; /* A fresh, bright green */
  raLightGreen: #a2e8b1; /* A softer, pastel green */
  raGreenLike: #b3cdb8;
  raGreenLikeHover: #e3e2e2;

  raRed: #ff3b30; /* A striking, vibrant red */
  raOrange: #ff9500; /* A bold, rich orange */

  raNeonBlue: #0039ff;
  raBlue: #4b90ff;
  raLightBlue: #6da5ff;
  raDarkBlue: #0041a3; /* Darker, rich blue */

  raNeonPurple: #d04aff; /* A vibrant neon purple */
  raPurple: #af52de; /* A fresh, bright purple */
  raLightPurple: #e8c6ff; /* A softer, pastel purple */
  raDarkPurple: #8f0fcc; /* A very light, pastel purple */

  raNeonYellow: #ffeb3b; /* A vibrant neon yellow */
  raYellow: #ffcc00; /* A fresh, bright yellow */
  raLightYellow: #fff5cc; /* A softer, pastel yellow */
  raDarkYellow: #d0aa00; /* A very light, pastel yellow */

  raNeonPink: #ff6f91; /* A vibrant neon pink */
  raPink: #ff8a8a; /* A fresh, bright pink */
  raLightPink: #ffd1dc; /* A softer, pastel pink */
  raDarkPink: #d2465b; /* A very light, pastel pink */


}