.plot_container {
  width: 90%;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;

  .plot_header {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .edc_freq {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;

      .plot_header_select {
        font-size: 11px;
      }
    }
  }

  .plot_actions {
    display: flex;
    align-items: flex-start;
    gap: 11px;
    align-self: stretch;
    overflow-x: auto;

    button {
      flex: 1;
      padding: 4px 10px;
      font-size: 12px;
      width: auto;
      color: black;
      min-width: auto;
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 5px;

      &:hover {
        background: rgb(121, 171, 241);
      }
    }
  }

  .plot {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

// This has to be outside as it is MUI popup
.menu_item {
  background-color: #ffffd8 !important;
}